#include<iostream.h>
#include<conio.h>
void main()
{
	int a[2][2], b[2][2], c[2][2], i, j;
	clrscr();
	cout<<"Enter Four number for First matrix:";
	for(i=0;i<2;i++)
	{for(j=0;j<2;j++)
	{cin>>a[i][j];}}
		cout<<"Enter Four number for second matrix:";
	for(i=0;i<2;i++)
	{for(j=0;j<2;j++)
	{cin>>b[i][j];}}
	//adding
		for(i=0;i<2;i++)
	{for(j=0;j<2;j++)
	{c[i][j]=a[i][j]+b[i][j];}}
	//ouput
	cout<<"\nHere your First matrix:\n";
		for(i=0;i<2;i++)
	{for(j=0;j<2;j++)
	{cout<<a[i][j]<<"  ";}
	cout<<endl;}
	cout<<"\nHere your second matrix:\n";
		for(i=0;i<2;i++)
	{for(j=0;j<2;j++)
	{cout<<b[i][j]<<"  ";}
	cout<<endl;}
	cout<<"\nSum of both matrix:\n";
		for(i=0;i<2;i++)
	{for(j=0;j<2;j++)
	{cout<<c[i][j]<<"  ";}
	cout<<endl;}
	
	getch();
}